:root {
  --columg-gap: 24px;
  --group-column-gap: 12px;
  --list-column-gap: 32px;
  --list-row-gap: 32px;
}
.description {
  background-color: var(--Neutrals-8);
}
.description .descriptionWrapper {
  padding: 80px 0px 136px 0px;
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}

.description .descriptionWrapper .descriptionRow {
  display: flex;
  column-gap: var(--columg-gap);
}

.description .descriptionLeftCol {
  width: calc(60% - (var(--columg-gap) * 0.6));
}

.description .descriptionRightCol {
  display: flex;
  width: calc(40% - (var(--columg-gap) * 0.4));
  /* justify-content: space-between; */
  flex-direction: column;
}
.description .descriptionRightCol > div.divider {
  height: 1px;
  margin-top: 40px;
  background-color: var(--Neutrals-6);
}
.descriptionLeftCol .descriptionDetails {
  margin-bottom: 16px;
}
.descriptionLeftCol .descriptionDetails span {
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
  color: #fcfcfd;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
}
.descriptionLeftCol .descriptionDetails span:nth-child(1) {
  margin-right: 4px;
  background-color: var(--Primary-1);
}

.descriptionLeftCol .descriptionDetails span:nth-child(2) {
  background: var(--Primary-4, #45b26b);
}

.descriptionLeftCol h2.descroptionTitle {
  margin-bottom: 8px;
  color: var(--Neutrals-2, #23262f);
  font-family: "SF Pro Display", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.96px;
}

.descriptionLeftCol .descriptionInfo {
  margin-bottom: 48px;
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.24px;
}
.descriptionLeftCol .descriptionPreview {
  overflow: hidden;
  height: 100%;
  border-radius: 16px;
}
.descriptionLeftCol .descriptionPreview img {
  width: 100%;
  max-height: 447px;
  object-fit: cover;
}
.descriptionRightCol .descriptionGroup .descriptionItem {
  display: flex;
  column-gap: var(--group-column-gap);
}
.descriptionRightCol .descriptionGroup .descriptionItem:not(:last-child) {
  margin-bottom: 20px;
}

.descriptionRightCol .descriptionGroup .descriptionItem .left {
  display: flex;
  align-items: center;
  column-gap: var(--group-column-gap);
  width: calc(60% - var(--group-column-gap) * 0.6);
}

.descriptionGroup .descriptionItem .left span {
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  flex-grow: 1;
}
.descriptionGroup .descriptionItem > span {
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  width: calc(40% - var(--group-column-gap) * 0.4);
}

.descriptionGroup .descriptionItem:nth-child(3) > span {
  color: var(--Primary-4, #45b26b);
}

.descriptionRightCol .descriptionText p {
  color: var(--Neutrals-3, #353945);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.descriptionRightCol .descriptionText p:nth-child(2) {
  margin-top: 24px;
}
.descriptionRightCol ul.descriptionList {
  /* display: flex;
    flex-direction: column;
    row-gap: 8px; */
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
  border: 2px solid var(--Neutrals-6, #e6e8ec);
}

.descriptionRightCol ul.descriptionList li {
  display: flex;
  align-items: flex-start;
  column-gap: 8px;
}
.descriptionRightCol ul.descriptionList li:nth-child(2) {
  margin: 12px 0px;
}

.descriptionRightCol ul.descriptionList li span {
  position: relative;
  color: var(--section-text);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.descriptionRightCol .desriptionBtns {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 12px;
}
.descriptionRightCol .desriptionBtns .btnLock {
  padding: 12px;
  border-radius: 40px;
  border: 2px solid var(--Neutrals-6, #e6e8ec);
}
.descriptionRightCol .desriptionBtns button:not(.btnLock) {
  /* max-width: 292px; */
  flex-grow: 1;
}

/*? Interesting Start */

:root {
  --interesting_column_count: 3;
  --interesting_column_gap: 32px;
}
.interesting {
  /* position: relative; */
  padding-bottom: 136px;
}

.interesting .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.interesting .interestingTitle {
  color: var(--Neutrals-2, #23262f);
  font-family: "SF Pro Display", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.96px;
}

.interesting .swiper-wrapper {
  /*
  display: flex; 
  flex-wrap: wrap;
  column-gap: var(--list-column-gap);
  row-gap: var(--list-row-gap);
  overflow: hidden;
  */
}
.description .content {
  overflow: hidden;
}

.top .direction_btns {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
button.direction {
  /* position: absolute; */
  /* top: 16px; */
  /* z-index: 20; */
  width: 24px;
  /* background-color: none; */
  /* border: none; */
}
button.direction i {
  color: var(--Neutrals-4);
  font-size: 15px;
}
.slickPrev {
  /* right: 44px; */
}
.slickNext {
  /* right: 16px; */
}
.swiper-wrapper {
  width: 100%;
}
.swiper-wrapper .card {
  /* width: calc(
    (
        100% -
          (
            (var(--interesting_column_count) - 1) *
              var(--interesting_column_gap)
          )
      ) / var(--interesting_column_count)
  ); */
}
.swiper-wrapper .card .cardPreview {
  position: relative;
  border-radius: 12px;
  border: 2px solid transparent;
  transition: all 0.5s ease;
  overflow: hidden;
}
.swiper-wrapper .card .cardPreview img {
  object-fit: cover;
  width: 100%;
  height: 297px;
  transition: all 0.5s ease;
}

.swiper-wrapper .card:hover {
  cursor: pointer;
}
.swiper-wrapper .card:hover .cardPreview {
  overflow: hidden;
  border-color: var(--Primary-1);
}

.swiper-wrapper .card:hover .cardPreview img {
  transform: scale(1.1);
}

.swiper-wrapper .card .cardPreview .cardStatus {
  position: absolute;
  top: 8px;
  left: 8px;
  padding: 8px;
  color: #fcfcfd;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
  border-radius: 4px;
}
.swiper-wrapper .card .cardPreview .playSmall {
  position: absolute;
  padding: 12px;
  background-color: var(--Neutrals-5);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 8px 16px -8px rgba(15, 15, 15, 0.2);
  background: var(--Neutrals-8);
}
.swiper-wrapper .card .cardPreview .playSmall img {
  display: block;
  width: 24px;
  height: 24px;
  z-index: 5;
}
.swiper-wrapper .card .cardPreview .cardStatus.yoga {
  background-color: var(--Primary-4);
}
.swiper-wrapper .card .cardPreview .cardStatus.fitness {
  background-color: var(--Primary-1);
}

.swiper-wrapper .card .cardHead {
  margin: 20px 0px 12px 0px;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--Neutrals-6);
  display: flex;
  justify-content: space-between;
}
.swiper-wrapper .card .cardHead .cardUser {
  display: flex;
  column-gap: 16px;
  align-items: center;
}
.swiper-wrapper .card .cardHead .cardUser .cardAvatar {
  align-self: flex-start;
  width: 40px;
  height: 40px;
  background-color: var(--Neutrals-4);
  border-radius: 50%;
  overflow: hidden;
}
.swiper-wrapper .card .cardHead .cardUser .cardAvatar img {
  width: 100%;
  object-fit: cover;
}
.swiper-wrapper .card .cardHead .cardTitle {
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.swiper-wrapper .card .cardHead .cardTrainer {
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.swiper-wrapper .card .cardHead .cardTrainer span {
  display: inline-block;
}
.swiper-wrapper .card .cardHead .cardTrainer span.fullname {
  margin-right: 4px;
}

.swiper-wrapper .card .cardHead .cardLevel {
  align-self: flex-start;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
  padding: 8px;
  border-radius: 4px;
}
.swiper-wrapper .card .cardHead .cardLevel.beginner {
  border: 2px solid var(--Primary-4);
  color: var(--Primary-4);
}
.swiper-wrapper .card .cardHead .cardLevel.intermediate {
  border: 2px solid var(--Primary-2);
  color: var(--Primary-2);
}
.swiper-wrapper .card .cardHead .cardLevel.advanced {
  border: 2px solid var(--Primary-1);
  color: var(--Primary-1);
}

.swiper-wrapper .card .cardParameters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.swiper-wrapper .card .cardParameters .cardParameter {
  display: flex;
  column-gap: 8px;
  align-items: center;
  color: var(--Neutrals-3, #353945);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
.swiper-wrapper .card .cardParameters .cardParameter i {
  font-size: 16px;
}

.interestingBtn {
  margin-top: 64px;
  text-align: center;
}

.interestingBtn button {
  display: flex;
  align-items: center;
  column-gap: 16px;
  padding: 12px 16px;
  border-radius: 90px;
  border: 2px solid var(--section-text);
  transition: all 0.4s ease-in;
}
.interestingBtn button.tDiscoverMore {
  display: none;
}
.interestingBtn button {
  color: var(--section-text);
  text-align: center;
  font-family: "SF Pro Display", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  transition: all 0.4s ease-in;
  margin: 0 auto;
}

.interestingBtn button:hover {
  background-color: #141416;
  color: #e6e8ec;
  cursor: pointer;
}
