{% extends "base.html" %}
{% load static %}
{% block title %} Register {% endblock title %}


{% block custom_css %} 
<link rel="stylesheet" href="{% static 'css/accounts/register/style.css' %}">
<link rel="stylesheet" href="{% static 'css/accounts/register/responsive.css' %}">
{% endblock custom_css %}


{% comment %} ?--- Content ---* {% endcomment %}
{% block content %}

<section class="login_page lightmode">
    <div class="container">
        <div class="login-wrapper ">
            <div class="box-image box-col box-col-left">
                <img class="some-icon-light" src="{% static "assets/images/accounts/login/sideimage_light.png" %}" alt="sideimage"> 
                <img class="some-icon-dark" src="{% static "assets/images/accounts/login/sideimage_dark.png" %}" alt="sideimage"> 
            </div>

            <div class="box-form box-col box-col-right">
                <div class="inner">
                    <form class="form-head" method="POST">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        {% comment %} <div class="title">Register Page</div> {% endcomment %}
                        
                        <div class="form-group">
                            {% comment %} <div class="label-text">Username</div> {% endcomment %}
                            {% comment %} <input class="form-control" required type="text" placeholder="Username" name="username" id="id_register_username" value=""> {% endcomment %}
                            {{ form.username }}
                            {{ form.username.errors }}
                        </div>

                        <div class="form-group">
                            {% comment %} <label class="label-text" for="id_register_email">Email</label> {% endcomment %}
                            {% comment %} <input class="form-control" required type="email" placeholder="Email" name="email" id="id_register_email" value=""> {% endcomment %}
                            {{ form.email }}
                            {{ form.email.errors }}
                        </div>

                        <div class="form-group-custom">
                            <div class="form_user form_group_left">
                                {% comment %} <label class="label-text" for="id_register_email">Firstname</label> {% endcomment %}
                                {% comment %} <input class="form-control" required type="email" placeholder="Firstname" name="firstname" id="id_register_firstname" value=""> {% endcomment %}
                                {{form.first_name}}
                            </div>
                            <div class="form_user form_group_left">
                                {% comment %} <label class="label-text" for="id_register_email">Lastname</label> {% endcomment %}
                                {% comment %} <input class="form-control" required type="email" placeholder="Lastname" name="Lastname" id="id_register_lastname" value=""> {% endcomment %}
                                {{form.last_name}}

                            </div>
                        </div>


                        <div class="form-group">
                            {% comment %} <div class="label-text">Password</div> {% endcomment %}
                            {% comment %} <input class="form-control" class="form-control" required type="password" placeholder="Password"  name="password1" id="id_register_password1"> {% endcomment %}
                            {{form.password1}}
                            {{form.password1.errors}}
                        </div>

                        <div class="form-group">
                            {% comment %} <div class="label-text">Confirm Password</div> {% endcomment %}
                            {% comment %} <input class="form-control" required type="password" placeholder="Confirm Password" name="password2" id="id_password2"> {% endcomment %}
                            {{form.password2}}
                            {{form.password2.errors}}

                        </div>
                        <div class="actions">
                            <button type="submit" class="btn btn-submit">Register</button>
                        </div>
                    </form>
                    <div class="bottom-register">
                        <span class="remember_text">You have an account?</span>
                        <a href="{% url "accounts:login" %}" class="link register_link">Log in here</a>
                    </div>
                    <p class="error_text">
                        {% if messages %}
                            {% for message in messages %}
                                {% if message.tags == 'error' %}
                                    <div class="custom_alert alert-error">
                                    {{ message }}
                                    </div>
                                {% endif %} 
                            {% endfor %}
                        {% endif %} 
                   </p>
                </div>
            </div>
        </div>
        
    </div>
</section>
{% endblock content %}
{% comment %} ?--- Content ---* {% endcomment %}

{% block custom_js %}
    <script src="{% static '/js/accounts/register.js' %}"></script>
{% endblock custom_js  %}