:root {
  --heroHeader_column-gap: 32px;
  --intro_column-gap: 32px;
}

/* ! Header End */

/*? heroHeader Start */

:root {
  --hero_column-gap: 30px;
}
/*? heroHeader Start */
.heroHeader {
  background: var(--Neutrals-8, #fcfcfd);
}
.heroHeader .wrap {
  display: flex;
  align-items: center;
  column-gap: var(--hero_column-gap);
}
.heroHeader .wrap .contentCol {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: calc(40% - (var(--hero_column-gap) * 0.4));
}
.heroHeader .wrap .contentCol p.stage {
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}
.heroHeader .wrap .contentCol .mainTitle {
  color: var(--Neutrals-2, #23262f);
  font-family: "SF Pro Display";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -1.28px;
  margin: 12px 0px 40px 0px;
}

.heroHeader .wrap .contentCol .mainText {
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 0px 0px 40px 0px;
}
.heroHeader .wrap .contentCol .buttons_bottomm {
  display: flex;
  align-items: center;
  column-gap: 16px;
}
.heroHeader .wrap .contentCol button:nth-child(2):hover {
  box-shadow: 0 0 0 2px #23262f inset;
  background: var(--Neutrals-2);
  color: var(--Neutrals-8);
}
.heroHeader .wrap .contentCol .button_arrow_bottom {
  margin-top: 40px;
  padding: 20px;
  border-radius: 50%;
  border: 2px solid var(--Neutrals-6, #e6e8ec);
}

.heroHeader .wrap .contentCol .button_arrow_bottom:hover{
  cursor: pointer;
}
.heroHeader .wrap .contentCol .button_arrow_bottom i {
  /* width: 100%; */
  display: block;
  width: 16px;
  height: 16px;
  font-size: 16px;
  color: var(--Neutrals-4);
}

.heroHeader .wrap .previewCol {
  width: calc(60% - (var(--hero_column-gap) * 0.6));
}
.heroHeader .wrap .previewCol img {
  width: 100%;
  object-fit: cover;
}
/*! heroHeader End */

/*? intro Start */
.intro .wrapper {
  display: flex;
  align-items: center;
  column-gap: var(--intro_column-gap);
}
.intro .wrapper .introContent {
  width: calc(45% - var(--intro_column-gap) * 0.45);
}

.intro .wrapper .introContent h2 {
  color: var(--Neutrals-2);
}

.intro .wrapper .introContent p {
  max-width: 450px;
  color: var(--Neutrals-4);
  margin: 16px 0px;
}
.intro .wrapper .introContent button {
  padding: 16px 24px;
  border-radius: 90px;
  background-color: var(--Primary-1);
  color: var(--Neutrals-8);
  text-align: center;
  margin-bottom: 20px;
}

.intro .wrapper .introGallery {
  width: calc(55% - var(--intro_column-gap) * 0.55);
}
.intro .wrapper .introGallery img {
  width: 100%;
  object-fit: cover;
}

/*! intro End */

/*? details Start  */
:root {
  --details_column-gap: 83px;
  --details_column-count: 3;
  --details_divider-width: 1px;
}
.details {
  padding: 136px 0px;
  background-color: var(--Neutrals-8, #fcfcfd);
}
.details .detailsHead {
  max-width: 600px;
  margin: 0px auto 80px auto;
}
.details .detailsHead .stageSmall {
  text-align: center;
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
}
.details .detailsHead .detailsTitle {
  margin: 8px auto 0px auto;
  color: var(--Neutrals-2, #23262f);
  text-align: center;
  font-family: "SF Pro Display", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.96px;
}
.details .detailsList {
  display: flex;
  align-items: center;
  column-gap: var(--details_column-gap);
}
.details .detailsList span.divider {
  width: var(--details_divider-width);
  height: 300px;
  background-color: var(--Neutrals-6);
}

.details .detailsList .detailsItem {
  width: calc(
    (100% - ((var(--details_column-count) - 1) * var(--details_column-gap))) /
      var(--details_column-count)
  );
}
.details .detailsList .detailsItem .detailsIcon img {
  display: block;
}

.details .detailsList .detailsItem .detailsCategory {
  margin: 32px 0px;
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.details .detailsList .detailsItem .detailsContent {
  color: var(--Neutrals-4, #777e90);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

/*! details End  */
/*? program Start */
:root {
  --program_column-gap: 32px;
}

.program {
  background-color: var(--Neutrals-7, #f4f5f6);
  padding: 136px 0px;
}

.program .wrapper {
  display: flex;
  align-items: center;
  column-gap: var(--program_column-gap);
  border-radius: 24px;
  background-color: var(--Neutrals-8, #fcfcfd);
  box-shadow: 0px 64px 64px -48px rgba(15, 15, 15, 0.1);
}

.program .wrapper .programLeftCol {
  width: calc((45% - (32px * 0.45)));
}
.program .wrapper .programRightCol {
  width: calc((55% - (32px * 0.55)));
}

.program .programLeftCol h3 {
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
  padding: 8px 8px 8px 24px;
  margin-bottom: 16px;
}
.program .programLeftCol .programList ul li {
  background-color: var(--Neutrals-8, #fcfcfd);
}
.program .programLeftCol .programList ul li:not(:last-child) {
  margin-bottom: 16px;
}

.program .programList > ul li > a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--Neutrals-8);
  padding: 20px;
  border-radius: 16px;
  transition: background-color 0.2s;
}
.program .programList > ul li > a:hover {
  border-radius: 16px;
  background-color: var(--Neutrals-6);
}
.program .programList > ul .programSubtitle {
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  color: #23262f;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.program .programList .programIcon {
  border-radius: 12px;
  padding: 12px;
  margin-right: 20px;
  position: relative;
}
.program .programItemLeft {
  display: flex;
  /* column-gap: 20px; */
  align-items: center;
}
.program .programList .programIcon img,
.program .programList .programArrow img {
  display: block;
}

.program .programList ul li:nth-child(1) .programIcon {
  background-color: var(--Primary-4);
}
.program .programList ul li:nth-child(2) .programIcon {
  background-color: var(--Primary-2);
}
.program .programList ul li:nth-child(3) .programIcon {
  background-color: var(--Secondary-1);
}

.program .programRightCol .programView {
  padding: 45.08px 103.5px 44.63px 104.07px;
}
.program .programRightCol .programView img {
  width: 100%;
  object-fit: cover;
}
.program .programRightCol .programInfo {
  max-width: 380px;
  margin: 0 auto 24px;
  color: #777e90;
  outline: none;
  color: var(--Neutrals-4, #777e90);
  text-align: center;

  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.program .programRightCol .programBookLink {
  text-align: center;
  margin-bottom: 18px;
}
.program .programRightCol .programBookLink a {
  display: inline-block;
}
/*! program End */

/*? homeAbout Start */

:root {
  --about_column-gap: 32px;
}
.homeAbout {
  padding: 136px 0px;
}

.topRow {
  display: flex;
  column-gap: var(--about_column-gap);
}

.homeAbout .leftCol {
  width: calc(30% - (var(--about_column-gap) * 0.3));
}
.homeAbout .rightCol {
  width: calc(70% - (var(--about_column-gap) * 0.7));
}

.topRow .aboutStage {
  color: var(--Neutrals-5, #b1b5c3);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}
.topRow .aboutTitle {
  max-width: 500px;
  margin-bottom: 20px;
  color: var(--Neutrals-2, #23262f);
  font-family: "SF Pro Display", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.96px;
}
.topRow .aboutInfo {
  max-width: 500px;
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.bottomRow {
  display: flex;
  column-gap: var(--about_column-gap);
  margin-top: 128px;
}
.bottomRow .leftCol .aboutList {
  max-width: 262px;
}
.homeAbout .bottomRow .leftCol {
  width: calc(30% - (var(--about_column-gap) * 0.3));
}
.homeAbout .bottomRow .rightCol {
  width: calc(70% - (var(--about_column-gap) * 0.7));
}
.homeAbout .bottomRow .aboutItem:nth-child(2) {
  margin: 48px 0px;
}

.bottomRow .aboutItem .aboutNumber {
  display: inline-block;
  padding: 0px 12px;
  margin-bottom: 24px;
  border-radius: 100px;
  color: var(--Neutrals-8, #fcfcfd);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.homeAbout .bottomRow .aboutItem:nth-child(1) .aboutNumber {
  background: var(--Primary-2, #9757d7);
}
.homeAbout .bottomRow .aboutItem:nth-child(2) .aboutNumber {
  background: var(--Primary-3, #9757d7);
}
.homeAbout .bottomRow .aboutItem:nth-child(3) .aboutNumber {
  background: var(--Primary-4, #9757d7);
}
.bottomRow .aboutItem .aboutSubtitle {
  margin-bottom: 16px;
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.bottomRow .aboutItem .aboutContent {
  /* padding-right: 35px; */
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.bottomRow .rightCol .aboutPreview img {
  width: 100%;
  object-fit: cover;
}
/*! homeAbout End */

/* ? review Start   */
/** Slider */
.review {
  padding: 136px 0;
}
.review .review-swiper-content {
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
}

.review .reviewItem {
  margin: 0 auto;
  text-align: center;
}
.review .reviewItem .reviewLogo {
  padding: 13px 7px 13.5px 7px;
}
.review .reviewItem .reviewTitle {
  max-width: 736px;
  padding: 0px 0px 40px 0px;
  margin: 8px auto 40px auto;
  border-bottom: 1px solid var(--Neutrals-6);
  color: var(--Neutrals-2, #23262f);
  text-align: center;
  font-family: "SF Pro Display", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.4px;
}
.review .reviewItem .reviewAuthor {
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.review .reviewItem .reviewPosition {
  margin: 4px auto 0 auto;
  color: var(--Neutrals-4, #777e90);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.review .reviewBtns {
  margin: 48px 0px 0px 0px;
  display: flex;
  column-gap: 20px;
  align-items: center;
  justify-content: center;
}
.review .reviewBtns button i {
  font-size: 18px;
}
/* ! review End   */

/*? clients Start */
.clients .clientsTitle p {
  margin: 0px 0px 40px 0px;
  color: var(--Neutrals-2, #23262f);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.clients .clientsList ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.clients .clientsList ul li:nth-child(3) {
  display: none;
}

/*! clients End */

/* ? workouts Start   */
:root {
  --workouts_column-gap: 32px;
}
.workouts {
  padding: 136px 0;
  background-color: var(--Neutrals-8, #fcfcfd);
}
.workouts .workoutsFrame {
  display: flex;
  align-items: center;
  column-gap: var(--workouts_column-gap);
}
.workouts .workoutsFrame .workoutsWrap {
  width: calc(40% - (var(--workouts_column-gap) * 0.4));
}
.workouts .workoutsFrame .workoutsWrap h2.workoutsTitle {
  color: var(--Neutrals-2, #23262f);
}
.workouts .workoutsFrame .workoutsWrap p.workoutsInfo {
  color: var(--Neutrals-4, #777e90);
  margin: 32px 0px;
}

.workouts .workoutsFrame ul li {
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.workouts .workoutsFrame ul li:before {
  display: inline-block;
  vertical-align: bottom;
  content: "";
  width: 24px;
  height: 24px;
  margin: 0px 12px 0px 0px;
  background-image: url("/static/assets/images/features/workouts/check.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.workouts .workoutsFrame ul li:not(:last-child) {
  margin: 0px 0px 16px 0px;
}
.workouts .workoutsFrame .workoutsWrap .workoutsBtns {
  margin: 48px 0px 0px 0px;
}
.workouts .workoutsFrame .workoutsWrap .workoutsBtns button:first-child {
  margin: 0px 12px 0px 0px;
}
.workouts .workoutsFrame .workoutsGallery {
  width: calc(60% - (var(--workouts_column-gap) * 0.6));
}
.workouts .workoutsFrame .workoutsGallery img {
  width: 100%;
  object-fit: cover;
}
/* ! workouts End   */
:root {
  --lifestyle-row-column-gap: 120px;
}

/*? lifeStyle Start */
.lifeStyle {
  padding: 0px 0px 136px 0px;
}
.lifeStyle .lifeStyleHead {
  max-width: 544px;
  margin: 0px 0px 80px 0px;
}

.lifeStyle .lifeStyleHead span {
  display: block;
}

.lifeStyle .lifeStyleHead span:nth-child(1) {
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
  margin: 0px 0px 32px 0px;
}
.lifeStyle .lifeStyleHead span:nth-child(2) {
  color: var(--Neutrals-2, #23262f);
  font-family: "SF Pro Display", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.96px;
  margin: 0px 0px 20px 0px;
}
.lifeStyle .lifeStyleHead span:nth-child(3) {
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.24px;
  margin: 0px 0px 20px 0px;
}
.lifeStyle .lifeStyleHead a {
  display: inline-flex;
  align-items: center;
  justify-self: center;
  padding: 16px 24px;
  border-radius: 90px;
  border: 2px solid var(--Neutrals-6, #e6e8ec);
  color: var(--Neutrals-2, #23262f);
  text-align: right;
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 100% */
}
.lifeStyle .lifeStyleHead a img {
  margin: 0px 0px 0px 12px;
}

.lifeStyle .listWrapper .row {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  column-gap: var(--lifestyle-row-column-gap);
}
.lifeStyle .listWrapper .row .col:nth-child(1) {
  width: calc(40% - var(--lifestyle-row-column-gap) * 0.4);
}

.lifeStyle .listWrapper .row .col:nth-child(2) {
  align-self: stretch;
  width: calc(60% - var(--lifestyle-row-column-gap) * 0.6);
}
.lifeStyle .listWrapper .row:not(:last-child) {
  margin: 0px 0px 112px 0px;
}
.lifeStyle .listWrapper .lifeStyleDetails {
  max-width: 256px;
}
.lifeStyle .listWrapper .lifeStyleDetails span {
  display: block;
}

.lifeStyle .listWrapper .lifeStyleDetails span:nth-child(1) {
  padding: 0px 0px 24px 0px;
  margin: 0px 0px 24px 0px;
  border-bottom: 2px solid var(--Neutrals-6, #e6e8ec);
  color: var(--Neutrals-2, #23262f);
  font-family: "SF Pro Display", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.32px;
}
.lifeStyle .listWrapper .lifeStyleDetails span:nth-child(2) {
  margin: 0px 0px 16px 0px;
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.lifeStyle .listWrapper .lifeStyleDetails span:nth-child(3) {
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.lifeStyle .listWrapper .lifeStylePreview {
  overflow: hidden;
  border-radius: 24px;
  /* background-color: var(--Secondary-1, #3772ff); */
  height: 100%;
}
.lifeStyle .listWrapper .lifeStylePreview img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/*! lifeStyle End */

/* ? advantages  Start   */
:root {
  --advantages_column-gap: 2px;
  --advantages_column-count: 3;
}
.advantages {
  padding: 136px 0px;
}
.advantages .advantagesHead {
  margin: 0px auto 80px auto;
  width: 636px;
}
.advantages .advantagesHead h2.advantagesTitle {
  margin: 0px 0 20px 0;
  color: var(--Neutrals-2, #23262f);
  text-align: center;

  font-family: "SF Pro Display", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.96px;
}
.advantages .advantagesHead p.advantagesInfo {
  margin: 0 auto;
  width: 453px;
  color: var(--Neutrals-3, #353945);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.advantages .advantagesList {
  overflow: hidden;
  /* display: flex;
  align-items: center;
  column-gap: var(--advantages_column-gap); */
  /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: var(--advantages_column-gap); */
}
.advantages .advantagesItem {
  /* width: calc(
    (
        100% -
          (var(--advantages_column-gap) * (var(--advantages_column-count) - 1))
      ) / (var(--advantages_column-count))
  ); */
}

.advantages .advantagesItem .profile {
  text-align: center;
  margin-bottom: 36px;
}
.advantages .advantagesItem p.advantagesSubtitle {
  max-width: 293px;
  margin: 0 auto;
  color: var(--Neutrals-2, #23262f);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}
.advantages .advantagesItem .profile {
  height: 200px;
  width: 200px;
  margin: 0px auto 36px auto;
  background-color: var(--Neutrals-5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.advantages .advantagesItem .profile img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* ! advantages  End   */

/* ? offers  Start  */
.offers {
  padding: 136px 0;
}
.offers .frame {
  margin: 0 auto;
  text-align: center;
}
.offers p.stage {
  margin: 0px auto 16px auto;
  color: var(--Neutrals-4, #777e90);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}

.offers h2.offersTitle {
  max-width: 805px;
  margin: 0px auto 32px auto;
  color: var(--Neutrals-2, #23262f);
  text-align: center;
  font-family: "SF Pro Display";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -1.28px;
}
.offers p.offersText {
  width: 450px;
  margin: 0 auto;
  color: var(--Neutrals-4, #777e90);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.offers a.offersButton {
  display: inline-block;
  margin: 48px auto 0px auto;
}
/* ! offers  End */
