{% load static %}

<div class="catalogList">

  <!--  -->
  <div class="card">
      <div class="cardPreview">
          <img src="{% static 'assets/common/catalog_card/card-pic-1.png' %}" alt="">
          <div class="cardStatus yoga">yoga</div>
      </div>

      <div class="cardHead">
          <div class="cardUser">
              <div class="cardAvatar">
                  <img src="{% static 'assets/common/catalog_card/cardUserAvatar-5.png' %}" alt="">
              </div>
              <div class="cardDetails">
                  <div class="cardTitle">7-days barre body</div>
                  <div class="cardTrainer">
                      <span class="firstName">FistName LastName</span>
                      <span class="lastName"></span>
                  </div>
              </div>
          </div>
          <div class="cardLevel beginner">Beginner</div>
      </div>

      <div class="cardParameters">
          <div class="cardParameter">
              <img src="{% static 'assets/common/catalog_card/youtube.svg' %}" alt=""> 7
          </div>
          <div class="cardParameter">
              <img src="{% static 'assets/common/catalog_card/people.svg' %}" alt=""> 160
          </div>
      </div>
  </div>
  <!--  -->
  <div class="card">
      <div class="cardPreview">
          <img class="backPreview" src="{% static 'assets/common/catalog_card/card-pic-2.png' %}" alt="">
          <div class="cardStatus fitness">fitness </div>
          <div class="playSmall">
              <img src="{% static 'assets/common/catalog_card/playSmall.svg' %}" alt="">
          </div>
      </div>

      <div class="cardHead">
          <div class="cardUser">
              <div class="cardAvatar">
                  <img src="{% static 'assets/common/catalog_card/cardUserAvatar-2.png' %}" alt="">
              </div>
              <div class="cardDetails">
                  <div class="cardTitle">Sweet and tone</div>
                  <div class="cardTrainer">
                      <span class="firstName">FistName</span>
                      <span class="lastName">LastName</span>
                  </div>
              </div>
          </div>
          <div class="cardLevel beginner">beginner</div>
      </div>

      <div class="cardParameters">
          <div class="cardParameter">
              <img src="{% static 'assets/common/catalog_card/youtube.svg' %}" alt=""> 7
          </div>
          <div class="cardParameter">
              <img src="{% static 'assets/common/catalog_card/people.svg' %}" alt=""> 160
          </div>
      </div>
  </div>
  <!--  -->
   <div class="card">
      <div class="cardPreview">
          <img src="{% static 'assets/common/catalog_card/card-pic-3.png' %}" alt="">
          <div class="cardStatus yoga">yoga</div>
      </div>

      <div class="cardHead">
          <div class="cardUser">
              <div class="cardAvatar">
                  <img src="{% static 'assets/common/catalog_card/cardUserAvatar-3.png' %}" alt="">
              </div>
              <div class="cardDetails">
                  <div class="cardTitle">Baseline Bootcamp</div>
                  <div class="cardTrainer">
                      <span class="firstName">FistName</span>
                      <span class="lastName">LastName</span>
                  </div>
              </div>
          </div>
          <div class="cardLevel beginner">beginner</div>
    </div>

      <div class="cardParameters">
          <div class="cardParameter">
              <img src="{% static 'assets/common/catalog_card/youtube.svg' %}" alt=""> 7
          </div>
          <div class="cardParameter">
              <img src="{% static 'assets/common/catalog_card/people.svg' %}" alt=""> 160
          </div>
      </div>
  </div>
  <!--  -->

</div> 