    {% load static %}
    <section class="community lightmode">
        <div class="container">

            <div class="communityPreview">
                <img class="some-icon-light" src="{% static 'assets/common/community/dumbbell.png' %}" alt="">
                <img class="some-icon-dark" src="{% static 'assets/common/community/dumbbell-dark.png' %}" alt="">
            </div>

            <div class="communityBottom">
                <p class="subtitle">Save your time with Stacks</p>
                <h2 class="communityTitle community_showed">
                    Join Fitness Pro Community
                </h2>
                <h2 class="communityTitle community_hidden">
                    Join Stacks Community
                </h2>
                <p class="communityText">Join Stacks community now to get free updates and also alot of freebies are
                    waiting for you.
                </p>
                <form method="POST" action="{% url "send_simple_mail" %}" class="subscription"  id="contactFormBottom">
                    {% csrf_token %}
                    <input type="email" name="email" placeholder="Enter your email">
                    <button type="submit"><i class="fa-solid fa-arrow-right"></i></button>
                </form> 
                {% comment %} <form  class="subscription"  id="contactForm" mehtod="POST" action="{% url "download" %}">
                    {% csrf_token %}
                    <input type="email" name="email" placeholder="Enter your email" id="email_input">
                    <button type="submit" id="mailFormButton"><i class="fa-solid fa-arrow-right"></i></button>
                </form> {% endcomment %}
                <div class="communityNote">
                    By click sign in you, you agree with Stacks <a href="#">terms</a> and <a href="#">policy</a>
                </div>
                <div id="message" class="result_email_msg">Demo</div>
            </div>

        </div>
    </section>
