{% load static %}

<section class="programs lightmode">
    <div class="container">
        <div class="programsTop">
            <h2 class="programsTitle">
               {{ text }}
            </h2>
            <p class="programsInfo">
                <span class="programsGreen">10% Discount</span> if you&#39;re already using the
                <span class="programsBlack">Fitness Pro </span>on App Store
            </p>
        </div>

        <div class="programsWrap swiper">
            <div class="programs_swiper">
                <div class="swiper-wrapper">

                    <div class="programsItem swiper-slide">
                        <div class="programsIcon personIcon">
                            <!-- <i class="fa-solid fa-user"></i> -->
                            <img src="{% static 'assets/images/class_02/programs/person.svg' %}" alt="">
                        </div>
                        <div class="programsText">
                            <div class="programsSubtitle">Beginners</div>
                            <div class="programsContent">A 7-days training program designed to boost your strength &
                                endurance over the course of a week.
                            </div>
                        </div>
                        <div class="programLink">
                            <a href="#" class="program_btn">Book a Class</a>
                        </div>
                    </div>

                    <div class="programsItem swiper-slide">
                        <div class="programsIcon medalIcon">
                            <!-- <i class="fa-solid fa-medal"></i> -->
                            <img src="{% static 'assets/images/class_02/programs/medal.svg' %}" alt="">
                        </div>
                        <div class="programsText">
                            <div class="programsSubtitle">Advanced</div>
                            <div class="programsContent">A 7-days training program designed to boost your strength &
                                endurance over the course of a week.
                            </div>
                        </div>
                        <div class="programLink">
                            <a href="#" class="program_btn">Book a Class</a>
                        </div>
                    </div>

                    <div class="programsItem swiper-slide">
                        <div class="programsIcon lightningIcon">
                            <!-- <i class="fa-solid fa-bolt"></i> -->
                            <img src="{% static 'assets/images/class_02/programs/lightning.svg' %}" alt="">
                        </div>
                        <div class="programsText">
                            <div class="programsSubtitle">Premium</div>
                            <div class="programsContent">A 7-days training program designed to boost your strength &
                                endurance over the course of a week.
                            </div>
                        </div>
                        <div class="programLink">
                            <a href="#" class="program_btn">Book a Class</a>
                        </div>
                    </div>

                    <!-- Repeat -->

                    <div class="programsItem swiper-slide">
                        <div class="programsIcon medalIcon">
                            <!-- <i class="fa-solid fa-medal"></i> -->
                            <img src="{% static 'assets/images/class_02/programs/medal.svg' %}" alt="">
                        </div>
                        <div class="programsText">
                            <div class="programsSubtitle">Advanced</div>
                            <div class="programsContent">A 7-days training program designed to boost your strength &
                                endurance over the course of a week.
                            </div>
                        </div>
                        <div class="programLink">
                            <a href="#" class="program_btn">Book a Class</a>
                        </div>
                    </div>

                    <div class="programsItem swiper-slide">
                        <div class="programsIcon lightningIcon">
                            <!-- <i class="fa-solid fa-bolt"></i> -->
                            <img src="{% static 'assets/images/class_02/programs/lightning.svg' %}" alt="">
                        </div>
                        <div class="programsText">
                            <div class="programsSubtitle">Premium</div>
                            <div class="programsContent">A 7-days training program designed to boost your strength &
                                endurance over the course of a week.
                            </div>
                        </div>
                        <div class="programLink">
                            <a href="#" class="program_btn">Book a Class</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div class="programsBtns">
            <button class="programs_prev_btn"><i class="fa-solid fa-arrow-left"></i></button>
            <button class="programs_next_btn"><i class="fa-solid fa-arrow-right"></i></button>
        </div>


    </div>
</section>