    {% load static %}
    {% comment %} <!-- * Slider --> {% endcomment %}
    <section class="review {{ theme }}">
        <div class="container">

            <div class="review-swiper">

                <div class="review-swiper-content">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="reviewItem">
                                <div class="reviewLogo">
                                    <img src="{% static 'assets/common/review/9logo.svg' %}" alt="">
                                </div>
                                <div class="reviewTitle">The greatest fitness app. It's clear the makers behind this
                                    thing
                                    use it every
                                    week, because it is so perfect.
                                </div>
                                <div class="reviewAuthor">Dorthy Runolfsdottir</div>
                                <div class="reviewPosition">Lead Visual Designer at UI8</div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="reviewItem">
                                <div class="reviewLogo">
                                    <img src="{% static 'assets/common/review/9logo.svg' %}" alt="">
                                </div>
                                <div class="reviewTitle">The greatest fitness app. It's clear the makers behind this
                                    thing
                                    use it every
                                    week, because it is so perfect.
                                </div>
                                <div class="reviewAuthor">Dorthy Runolfsdottir</div>
                                <div class="reviewPosition">Lead Visual Designer at UI8</div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="reviewItem">
                                <div class="reviewLogo">
                                    <img src="{% static 'assets/common/review/9logo.svg' %}" alt="">
                                </div>
                                <div class="reviewTitle">The greatest fitness app. It's clear the makers behind this
                                    thing
                                    use it every
                                    week, because it is so perfect.
                                </div>
                                <div class="reviewAuthor">Dorthy Runolfsdottir</div>
                                <div class="reviewPosition">Lead Visual Designer at UI8</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="reviewBtns">
                <button class="previoustBtn"><i class="fa-solid fa-arrow-left"></i></button>
                <button class="nextBtn"><i class="fa-solid fa-arrow-right"></i></button>
            </div>


        </div>
    </section>
    {% comment %} <!--! review End  --> {% endcomment %}