{% load static %}
<section class="testimonials softlightmode">
  <div class="container">
    <div class="wrap">

      <div class="testmonialsItem">
        <div class="testimonialsRow">
          <div class="testimonialsCol">
            <div class="testimonialsLogo">
              <img src="{% static 'assets/common/testimonials/logo.png' %}" alt="" />
            </div>
            <div class="testimonialsComment">
              “ Fitness Pro is the greatest fitness app. It's clear the
              makers behind this thing use it every week, because it is so
              perfect. “
            </div>
            <div class="testimonialsDetails">
              <div class="detailsIcon">
                <img src="{% static 'assets/common/testimonials/details_icon.png' %}" alt="" />
              </div>
              <div class="descriptionInfo">

                <div class="detailsAuthor">Megane Schumm</div>
                <span class="detailsDivider"></span>
                <div class="detailsDescription">Legacy Data Coordinator</div>

              </div>
            </div>
            <button class="btn readmore">Read full story</button>
          </div>
          <div class="testimonialsCol">
            <div class="testimonialsPreview">
              <img src="{% static 'assets/common/testimonials/preview.png' %}" alt="" />
              <button class="play">
                <img src="{% static 'assets/common/testimonials/play.svg' %}" alt="" />
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="testmonialsNav">
        <div class="swiper">
          <div class="testimonials-swiper">
            <ul class="swiper-wrapper">

              <li class="swiper-slide">
                <a href="#">
                  <div class="testimonialsAvatar">
                    <img src="{% static 'assets/common/testimonials/cardUserAvatar-1.png' %}" alt="" />
                  </div>
                  <div class="testimonialsGroup">
                    <div class="testmonialsName">Jazmin Grady</div>
                    <div class="testmonialsPosition">Personal Trainer</div>
                  </div>
                </a>
              </li>

              <li class="swiper-slide">
                <a href="#">
                  <div class="testimonialsAvatar">
                    <img src="{% static 'assets/common/testimonials/cardUserAvatar-2.png' %}" alt="" />
                  </div>
                  <div class="testimonialsGroup">
                    <div class="testmonialsName">Kaylah Botsford</div>
                    <div class="testmonialsPosition">Personal Trainer</div>
                  </div>
                </a>
              </li>

              <li class="swiper-slide">
                <a href="#">
                  <div class="testimonialsAvatar">
                    <img src="{% static 'assets/common/testimonials/cardUserAvatar-4.png' %}" alt="" />
                  </div>
                  <div class="testimonialsGroup">
                    <div class="testmonialsName">Reinhold Ullrich</div>
                    <div class="testmonialsPosition">Personal Trainer</div>
                  </div>
                </a>
              </li>

              <li class="swiper-slide">
                <a href="#">
                  <div class="testimonialsAvatar">
                    <img src="{% static 'assets/common/testimonials/cardUserAvatar-1.png' %}" alt="" />
                  </div>
                  <div class="testimonialsGroup">
                    <div class="testmonialsName">Josh Bartoletti</div>
                    <div class="testmonialsPosition">Personal Trainer</div>
                  </div>
                </a>
              </li>
              <li class="swiper-slide">
                <a href="#">
                  <div class="testimonialsAvatar">
                    <img src="{% static 'assets/common/testimonials/cardUserAvatar-1.png' %}" alt="" />
                  </div>
                  <div class="testimonialsGroup">
                    <div class="testmonialsName">Jazmin Grady</div>
                    <div class="testmonialsPosition">Personal Trainer</div>
                  </div>
                </a>
              </li>

              <li class="swiper-slide">
                <a href="#">
                  <div class="testimonialsAvatar">
                    <img src="{% static 'assets/common/testimonials/cardUserAvatar-2.png' %}" alt="" />
                  </div>
                  <div class="testimonialsGroup">
                    <div class="testmonialsName">Kaylah Botsford</div>
                    <div class="testmonialsPosition">Personal Trainer</div>
                  </div>
                </a>
              </li>

              <li class="swiper-slide">
                <a href="#">
                  <div class="testimonialsAvatar">
                    <img src="{% static 'assets/common/testimonials/cardUserAvatar-4.png' %}" alt="" />
                  </div>
                  <div class="testimonialsGroup">
                    <div class="testmonialsName">Reinhold Ullrich</div>
                    <div class="testmonialsPosition">Personal Trainer</div>
                  </div>
                </a>
              </li>

              <li class="swiper-slide">
                <a href="#">
                  <div class="testimonialsAvatar">
                    <img src="{% static 'assets/common/testimonials/cardUserAvatar-1.png' %}" alt="" />
                  </div>
                  <div class="testimonialsGroup">
                    <div class="testmonialsName">Josh Bartoletti</div>
                    <div class="testmonialsPosition">Personal Trainer</div>
                  </div>
                </a>
              </li>

            </ul>
          </div>
        </div>


      </div>
    </div>
  </div>
</section>