{% extends "base.html" %}
{% load static %}

{% block title %}Class 01 detail{% endblock title %}

{% comment %} {% block custom_favicon %}{% endblock custom_favicon %} {% endcomment %}

{% block swiper_css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
{% endblock swiper_css %}

{% block custom_css %} 
<link rel="stylesheet" href="{% static 'css/class_01_detail/style.css' %}">
<link rel="stylesheet" href="{% static 'css/class_01_detail/responsive.css' %}">
{% endblock custom_css %}


{% comment %} *--- Content ---* {% endcomment %}
{% block content %}


 {% comment %}? <!--? description Start --> {% endcomment %}
 <section class="description lightmode">
    <div class="container">

        <div class="descriptionWrapper">
            <div class="descriptionRow">
                <div class="descriptionLeftCol">
                    <div class="descriptionDetails">
                        <span class="category">{{ course.category.name}}</span>
                        <span class="release">new release</span>
                    </div>
                    <h2 class="descroptionTitle">{{course.title}}</h2>
                    <div class="descriptionInfo">
                        {% comment %} A 7-days training program designed to boost your strength &
                        endurance over the course of a week. {% endcomment %}
                        {{course.description}}
                    </div>
                </div>

                <div class="descriptionRightCol">
                    <div class="descriptionGroup">

                        <div class="descriptionItem">
                            <div class="left">
                                <img src="{% static 'assets/images/class_01_detail/description/calendar.svg' %}" alt="">
                                <span>Classes</span>
                            </div>
                            <span class="detailInfo">{{course.classes}}</span>
                        </div>
                        <div class="descriptionItem">
                            <div class="left">
                                <img src="{% static 'assets/images/class_01_detail/description/clock.svg' %}" alt="">
                                <span>Average duration</span>
                            </div>
                            <span class="detailInfo">{{course.duration}} minutes</span>
                        </div>
                        <div class="descriptionItem">
                            <div class="left">
                                <img src="{% static 'assets/images/class_01_detail/description/scoreboard.svg' %}" alt="">
                                <span>Difficulity</span>
                            </div>
                            <span class="detailInfo">{{ course.level.name }}</span>
                        </div>
                        <div class="descriptionItem">
                            <div class="left">
                                <img src="{% static 'assets/images/class_01_detail/description/candlesticks.svg' %}" alt="">
                                <span>Intensity</span>
                            </div>
                            <span class="detailInfo">{{ course.intensity.name}}</span>
                        </div>

                    </div>
                    <div class="divider"></div>
                </div>
            </div>

            <div class="descriptionRow">

                <div class="descriptionLeftCol">
                    <div class="descriptionPreview">
                        {% comment %} <img src="{% static 'assets/images/class_01_detail/description/workout-pic.png' %}" alt=""> {% endcomment %}
                        <img src="{{course.image.url}}" alt="">

                    </div>
                </div>

                <div class="descriptionRightCol">
                    <div class="descriptionText">
                        <p>A seven-day bodyweight training program designed to boost your strength and endurance
                            over
                            the course of a week.
                        </p>
                        <p>In this series, you will:</p>
                    </div>

                    <ul class="descriptionList">
                        <li>
                            <img src=" {% static 'assets/images/class_01_detail/description/check.svg' %}" alt="">
                            <span> Get a full strength and cardio workout — no equipment necessary</span>
                        </li>
                        <li> <img src="{% static 'assets/images/class_01_detail/description/check.svg' %}" alt="">
                            <span> Strengthen and tone your entire body </span>
                        </li>
                        <li>
                            <img src="{% static 'assets/images/class_01_detail/description/check.svg' %}" alt="">
                            <span> Increase your balance, flexibility, and endurance</span>
                        </li>
                    </ul>

                    <div class="desriptionBtns">
                        <button class="btnLock">
                            <img src="{% static 'assets/images/class_01_detail/description/lock.svg' %}" alt="">
                        </button>
                        <button class="btn btn_orange">Start free trial</button>
                    </div>
                </div>

            </div>


        </div>


        <div class="interesting">
            <div class="top">
                <h2 class="interestingTitle">You may interested</h2>
                <div class="direction_btns">
                    <button class="slickPrev direction"><i class="fa-solid fa-left-long"></i></button>
                    <button class="slickNext direction"><i class="fa-solid fa-right-long"></i></button>
                </div>
            </div>

            <div class="content">
                <div class="swiper">
                    <div class="swiper-wrapper">

                        {% for course  in courses %}
                        <a href="{% url 'programs_detail' course.id %}" class="card swiper-slide">
                                <div class="cardPreview">
                                    {% comment %} <img src="{% static 'assets/images/class_01_detail/catalogList/card-pic-1.png' %}" alt=""> {% endcomment %}
                                    <img src="{{course.image.url}}" alt="">
                                    <div class="cardStatus yoga">{{course.category.name}}</div>
                                </div>

                                <div class="cardHead">
                                    <div class="cardUser">
                                        <div class="cardAvatar">
                                            <img src="{{course.trainer.image.url}}" alt="">
                                        </div>
                                        <div class="cardDetails">
                                            <div class="cardTitle">7-days barre body</div>
                                            <div class="cardTrainer">
                                                <span class="fullname">{{course.trainer.fullname}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cardLevel {{course.level|lower}}">{{course.level}}</div>
                                </div>

                                <div class="cardParameters">
                                    <div class="cardParameter">
                                        <i class="fa-brands fa-youtube"></i>160
                                    </div>
                                    <div class="cardParameter">
                                        <i class="fa-regular fa-user"></i>7
                                    </div>
                                </div>
                        </a>
                        {% endfor %}


                        {% comment %} {% for course  in courses %}
                            <div class="card swiper-slide">
                                <div class="cardPreview">
                                    <img src="{{course.image.url}}" alt="">
                                    <div class="cardStatus yoga">{{course.category.name}}</div>
                                </div>

                                <div class="cardHead">
                                    <div class="cardUser">
                                        <div class="cardAvatar">
                                            <img src="{{course.trainer.image.url}}" alt="">
                                        </div>
                                        <div class="cardDetails">
                                            <div class="cardTitle">7-days barre body</div>
                                            <div class="cardTrainer">
                                                <span class="fullname">{{course.trainer.fullname}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cardLevel {{course.level|lower}}">{{course.level}}</div>
                                </div>

                                <div class="cardParameters">
                                    <div class="cardParameter">
                                        <i class="fa-brands fa-youtube"></i>160
                                    </div>
                                    <div class="cardParameter">
                                        <i class="fa-regular fa-user"></i>7
                                    </div>
                                </div>
                            </div>
                        {% endfor %} {% endcomment %}


                            
                            

                    </div>  
                    
                    {% comment %}? include card html {% endcomment %}
                        {% comment %} {% include "includes_partials/catalog_cards.html" %} {% endcomment %}
                    {% comment %}! include card html {% endcomment %}

                   
                </div>
            </div>

            {% comment %} <div class="interestingBtn">
                <button class="discoverMore">Browser more</button>
                <button class="tDiscoverMore">
                    <span>Discover more </span>
                    <i class="fa-solid fa-angle-down"></i>
                </button>
            </div> {% endcomment %}
        </div>



    </div>
</section>
{% comment %}! <!--! description End --> {% endcomment %}


{% endblock content %}
{% comment %} *--- Content ---* {% endcomment %}


{% block swiper_js %}
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
{% endblock swiper_js %}

{% block custom_js %}
    <script src="{% static "js/class_01_detail/class_01_detail.js" %}"></script>
{% endblock custom_js  %}