@media screen and (max-width: 1440px) {
  button.hidden {
    display: none;
  }
}

@media screen and (max-width: 1150px) {
  .show {
    display: block;
  }
  .headerCenter .headerLinksWrap .navbarLogo {
    padding-right: 30px;
    border-right: 1px solid var(--Neutrals-6);
  }
  .headerCenter .headerLinksWrap {
    column-gap: 30px;
  }

  .headerCenter .headerLinksWrap nav .headerNav {
    column-gap: 24px;
  }
  .headerCenter .headerGroups {
    column-gap: 40px;
  }

  :root {
    --main_percent: 32%;
  }

  .footer__box {
    margin-right: 76px;
  }

  .footer__col:nth-child(1) {
    padding: 80px 64px 64px 0px;
  }
  .footer__col:nth-child(2) {
    padding: 80px 32px 64px 32px;
  }
  .footer__col:nth-child(3) {
    padding: 80px 0px 64px 64px;
    display: flex;
    flex-direction: column;
  }

  .footer__col {
    padding: 80px 32px 64px;
  }
}

@media screen and (max-width: 1024px) {
  /*? dashboard btn start */
  .dashboard_circle {
    display: flex;
  }
  /*  */
  .show {
    display: block;
  }
  .buttonGroups button.hidden {
    display: block;
  }
  .headerCenter nav {
    display: none;
  }
  .headerCenter .headerLinksWrap .navbarLogo {
    border: none;
    padding: 0px;
  }
  .headerCenter .headerGroups ul.social_links {
    display: none;
  }
  .buttonGroups {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
  .buttonGroups .bars {
    display: block;
  }

  .footer__box {
    margin-right: 48px;
  }
  .footer__col:nth-child(1) {
    display: flex;
  }

  .footer__col:nth-child(1) {
    padding: 80px 64px 64px 0px;
  }
  .footer__col:nth-child(2) {
    padding: 80px 32px 64px 32px;
  }
  .footer__col:nth-child(3) {
    padding: 80px 0px 64px 64px;
  }
  /** community */
  .community_showed {
    display: none;
  }
  .community_hidden {
    display: block;
  }
}

@media screen and (max-width: 965px) {
  .footer__col:nth-child(1) {
    padding: 80px 32px 64px 0px;
    column-gap: unset;
    justify-content: space-between;
  }
  .footer__col:nth-child(3) {
    padding: 80px 0px 32px 32px;
  }
}

@media screen and (max-width: 768px) {
  .tabletMenu .wrap {
    /* display: flex;
    flex-direction: column; */
  }
  .tabletMenu .menuContact {
    /* display: none; */
  }

  .tabletMenu .dropdownBody .headRow .headRightCol {
    /* display: none; */
  }
  .tabletMenu .dropdownBody .headLeftCol a.headerDirection {
    display: none;
  }
  .tabletMenu .dropdownBody .headRow .headLeftCol {
    /* width: 100%; */
    /* border: none; */
  }
  .tabletMenu .dropdownBody .headRow {
    /* display: block; */
  }
  .tabletMenu .dropdownBody {
    /* margin: 0px;
    border: none;
    box-shadow: none; */
  }
  .tabletHeaderFoot {
    display: none;
  }
  .tabletMenu .dropdownBody .headRow .headCol {
    /* padding: 0px; */
  }

  .footer__box {
    margin-right: 0px;
  }
  .footer__center {
    display: block;
  }
  .footer__col:nth-child(1) .footer__category {
    margin-bottom: 0px;
  }

  .footer__col:nth-child(1) .footer__category i.rotate {
    transform: rotate(180deg);
  }
  .footer__col:nth-child(1) {
    flex-direction: column;
    width: 100%;
    padding: 32px 0px;
    border-bottom: 1px solid var(--Neutrals-6);
  }

  .footer__box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    width: 100%;
  }
  .footer__logo {
    width: unset;
    overflow: unset;
  }
  .label_footer {
    left: unset;
    bottom: unset;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
  }
  .footer__item .footer__category {
    display: flex;
    justify-content: space-between;
  }

  .footer__menu ul {
    margin-top: 41px;
    display: none;
  }
  .footer__menu ul.active {
    display: flex;
    flex-direction: column;
  }

  .footer__col:nth-child(2),
  .footer__col:nth-child(3) {
    border-left: none;
    margin-bottom: 32px;
    border-bottom: 1px solid #e6e8ec;
    width: 100%;
  }

  .footer__col:nth-child(2) {
    padding: 32px 0px;
    margin: 32px 0px;
  }

  .footer__col:nth-child(3) {
    padding: 32px 0px;
  }
}

@media screen and (max-width: 750px) {
  .tabletMenu .dropdownBody .headRow .headCol {
    padding: 20px;
  }
}
@media screen and (max-width: 740px) {
  .tabletMenu .dropdownBody .headRow .headCol {
    padding: 16px;
  }
}

@media screen and (max-width: 700px) {
  .tabletMenu .dropdownBody .headRow .headCol {
    padding: 12px;
  }
  .tabletMenu .headLeftCol .headerBox .headerText {
    font-size: 18px;
    line-height: 20px;
  }
}

@media screen and (max-width: 670px) {
  .tabletMenu .dropdownBody .headRow {
    /* flex-direction: column; */
  }
  .tabletMenu .headRightCol .headerItem .headerTitle {
    text-overflow: ellipsis;
    max-width: 125px;
    text-wrap: nowrap;
    overflow: hidden;
  }
}

@media screen and (max-width: 600px) {
  /*? Footer */
  footer .bar_wrapper {
    flex-direction: column;
    row-gap: 24px;
  }
  /*? Navbar Menu */
  .tabletMenu {
    padding: 24px 0px 0px 0px;
  }

  .tabletMenu .dropdownBody .headRow .headRightCol {
    display: none;
  }

  .tabletMenu .dropdownBody {
    border: none;
    margin: 0px;
  }

  .tabletMenu .dropdownBody .headRow .headLeftCol {
    border: none;
    width: 100%;
    padding: 0px;
  }

  .tabletMenu .dropdownBody .headRow .headLeftCol .headerMenu{
    padding: 12px 0px;
  }

  .tabletMenu .lastElement {
    margin: 18px 0px 0px 0px;
  }

  .tabletMenu .menuContact {
    display: none;
  }
}

@media screen and (max-width: 390px) {
  .container {
    /* width: 100%;
    max-width: 100%;
    margin: 0px;
    padding: 0px 32px; */
    width: 312px;
    max-width: 92%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 300px) {
  .footer__logo img {
    max-width: 100px;
  }
}
